/* colors */

$black: #000;
$white: #fff;

/* borders */

$border: 1px solid currentColor;

/* fonts */

@mixin font {
	font-family: monospace;
	font-size: 1rem;
}

/* ui */

@mixin button {
	display: inline-block;
	border: $border;
	border-radius: 2em;
	padding: 0.5em 1em;
}
